DATABASE_NAME=auth-starter
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
BCRYPT_SALT_ROUNDS= (any number)
JWT_ACCESS_SECRET=(secret any key like text)
JWT_ACCESS_EXPIRES_IN=('10m')
JWT_REFRESH_SECRET=(secret any key like text)
JWT_REFRESH_EXPIRES_IN=('365d')
RESET_PASS_UI_LINK=(http://localhost:5173/reset-password)
SMTP_USER=(your email like: ahshobuj11@gmail.com)
SMTP_PASS=( email app password)
CLOUDINARY_CLOUD_NAME=(your cloudinary name)
CLOUDINARY_API_KEY=(your cloudinary api key)
CLOUDINARY_API_SECRET=(your cloudinary api secret)
SUPER_ADMIN_PASS=(any password like: admin123)